<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/getform/" method="POST">
    <!-- {% csrf_token %} tag below is necessary to prevent cross-site forgery attacks -->
    {% csrf_token %}
    <p>Name: <input type="text" name="id"></p>
    <p>UserID :<input type="name" name="name"></p>
    <input type="submit">
  </form>
</body>

</html>